@use "./variables.scss" as *;

@font-face {
  font-family: "PretendardJP-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/PretendardJPVariable.woff2");
}

@font-face {
  font-family: "PretendardJP-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/static/PretendardJPVariable.woff2");
}

@font-face {
  font-family: "PretendardJP-ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/static/PretendardJPVariable.woff2");
}

@font-face {
  font-family: "D2Coding-Ligature";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/D2Coding-Ver1.3.2-20180524-ligature.ttf");
}

// put your custom CSS here!
p {
  text-align: justify;
}

.markdown-embed {
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}
.markdown-embed-title {
  display: none !important;
}
